html,
body,
#scenePanel {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#scenePanel {
  height: calc(100vh);
}

/******** Esri popups *************/
// .esri-ui .esri-popup {
//   display: none;
// }