@import 'variables';

.sidePanel {
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: $offblack;
  width: 300px;
  font-family: 'Cabin', sans-serif;
  color: $white;
  overflow-y: auto;

  .panel {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 15px;
    >* {
      position: relative;
      display: block;
      padding: .75rem 1.25rem;
      margin-bottom: -1px;
      background-color: $darkgrey;

      &.detail-placeholder {
        font-family: 'Roboto Condensed', sans-serif;
        padding: 25% 1.25rem;
        font-size: 1.25rem;
        color: $yellow;
      }
    }
    .detailContent {
      text-align: center;

      #detailTitle {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.5rem;
        margin-bottom: 15px;
        color: $yellow;
      }
      #detailClass {
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 20px;
      }
      #detailSteps, #detailLength {
        text-align: center;
        margin-bottom: 20px;
        i {
          margin-bottom: 10px;
        }
      }
      button {
        font-size: 16px;
        width: 80%;
        margin: 0 auto 10px;
        padding: 5px 0;
        border: none;
        color: $darkgrey;
        background-color: $green;
        -webkit-transition: background-color 300ms linear;
        -ms-transition: background-color 300ms linear;
        transition: background-color 300ms linear;
        &:hover {
          background-color: $darkgreen;
        }
      }
    }

    .route-heading {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 1.5rem;
      text-align: center;
      color: $green;
      margin-top: 10px;
      margin-bottom: 15px;
      &.no-route {
        margin-top: 30px;
      }
    }
    .route {
      .routeTitle {
        font-size: 1.3rem;
        color: $yellow;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 15px 0;
      }
      .routeClass {
        margin-bottom: 20px;
      }
      .routeSteps, .routeLength {
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        i {
          margin-bottom: 10px;
        }
      }
      &.group {
        .group-single {
          border-top: 1px solid #ffffff;
          position: relative;
          .routeTitle {
            margin-right: 30px;
          }
          &:last-child {
            border-bottom: 1px solid #ffffff;
          }
        }
        .row {
          margin: 15px 0;
        }
        &:hover {
          background-color: $grey;
        }
      }
      &.no-group {
        margin-bottom: 15px;
        .row {
          padding-bottom: 10px;
        }
      }
      &.no-group, &.group .group-single {
        cursor: pointer;
        &:hover {
          background-color: $lightgrey;
        }
      }
      .removeTrail {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        color: $lightred;
        &:hover {
          color: $red;
        }
      }
    }
  }
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
