$red: #E83A2B;
$red-light: rgba(232, 59, 43, 0.6);
$orange: #FD4F00;
$yellow: #D2A002;
$green: #7DC5A7;
$dark-green: #479e79;
$grey: rgb(56, 56, 56);
$dark-grey: #1C1C1C;
$off-black: #151515;
$white: #FFFFFF;
