$red: #E83A2B;
$lightred: rgba(232, 59, 43, 0.6);
$orange: #FD4F00;
$yellow: #D2A002;
$green: #7DC5A7;
$darkgreen: #479e79;
$lightgrey: rgb(68, 68, 68);
$grey: rgb(56, 56, 56);
$darkgrey: #1C1C1C;
$offblack: #151515;
$white: #FFFFFF;
